import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot et MouseInfo)

/**
 * \u00c9crivez une description de $CLASSNAME ici.
 * 
 * @author (votre nom) 
 * @version (un num\u00e9ro de version ou une date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{
    /**
     * Act - Applique ce que $CLASSNAME veut faire. Cette m\u00e9thode est appel\u00e9e \u00e0 chaque fois que
     * les boutons 'Ex\u00e9cuter' ou 'Act' sont press\u00e9s.
     */
  public void act() 
  {
    // Placez votre code d'action ici.
  }  
}