/**
 * \u00c9crivez une description de $CLASSNAME ici.
 *
 * @author (votre nom)
 * @version (un num\u00e9ro de version ou une date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{
    // variable d'instance - remplacez l'exemple suivant par le v\u00f4tre
    private int x;

    /**
     * Constructeur pour les objets de la classe $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Un exemple de m\u00e9thode - remplacez ce commentaire par le v\u00f4tre
     *
     * @param  y   un exemple de param\u00e8tre pour une m\u00e9thode
     * @return     la somme d'x et d'y
     */
    public int exempleDeMethode(int y)
    {
        // placez votre code ici
        return x + y;
    }
}
