import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot et MouseInfo)

/**
 * \u00c9crivez une description de $CLASSNAME ici.
 *
 * @author (votre nom)
 * @version (un num\u00e9ro de version ou une date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{

    /**
     * Constructeur pour les objets de la classe $CLASSNAME.
     *
     */
    public $CLASSNAME()
    {
        // Cr\u00e9e un nouveau monde avec 600x400 cellules qui ont pour taille 1x1 pixels.
        super(600, 400, 1);
    }
}
