$PKGLINE
/**
 * D\u00e9crivez votre classe abstraite $CLASSNAME ici.
 *
 * @author  (votre nom)
 * @version (un num\u00e9ro de version ou une date)
 */
public abstract class $CLASSNAME
{
    // variable d'instance - remplacez cet exemple par le v\u00f4tre
    int x;

    /**
     * Un exemple de m\u00e9thode concr\u00e8te
     *
     * @param  y	le param\u00e8tre de cette m\u00e9thode
     * @return		la somme de x et de y
     */
    public int exempleDeMethode(int y)
    {
        // Ins\u00e9rez votre code ici
        return x + y;
    }

    /**
     * Un exemple de m\u00e9thode abstraite
     * @param  y	le param\u00e8tre de cette m\u00e9thode
     * @return		qui sait ?
     */
    abstract public int exempleDeMethodAbstraite(int y)
}
