$PKGLINE
/**
 * Enumeration $CLASSNAME - \u00e9crire ici la description de l'\u00e9num\u00e9ration
 *
 * @author (votre nom)
 * @version (num\u00e9ro de version ou date)
 */
public enum $CLASSNAME
{
    LUNDI, MARDI, MERCREDI, JEUDI, VENDREDI, SAMEDI, DIMANCHE
}
