$PKGLINE
/**
 * D\u00e9crivez votre interface $CLASSNAME ici.
 *
 * @author  (votre nom)
 * @version (un num\u00e9ro de version ou une date)
 */

public interface $CLASSNAME
{
    /**
     * Exemple d'ent\u00eate de m\u00e9thode - remplacez ce commentaire par le v\u00f4tre
     *
     * @param  y	le param\u00e8tre de cette m\u00e9thode
     * @return		le r\u00e9sultat retourn\u00e9 par exempleDeMethode
     */
    int exempleDeMethode(int y);
}
