$PKGLINE
/**
 * D\u00e9crivez votre classe $CLASSNAME ici.
 *
 * @author (votre nom)
 * @version (un num\u00e9ro de version ou une date)
 */
public class $CLASSNAME
{
    // variables d'instance - remplacez l'exemple qui suit par le v\u00f4tre
    private int x;

    /**
     * Constructeur d'objets de classe $CLASSNAME
     */
    public $CLASSNAME()
    {
        // initialisation des variables d'instance
        x = 0;
    }

    /**
     * Un exemple de m\u00e9thode - remplacez ce commentaire par le v\u00f4tre
     *
     * @param  y   le param\u010dtre de la m\u00e9thode
     * @return     la somme de x et de y
     */
    public int sampleMethod(int y)
    {
        // Ins\u00e9rez votre code ici
        return x + y;
    }
}
