/**
 * Un exemple de m\u00e9thode - remplacez ce commentaire par le v\u00f4tre
 *
 * @param  y   un param\u010dtre pour cette m\u00e9thode
 * @param  x   un autre param\u010dtre
 * @return     la somme des deux param\u010dtres
 */
public int sampleMethod(int y, int x)
{
        // Ins\u00e9rez votre code ici
        return x+y;
}
